.goodforms_tooltip {
    font-weight: bold;
    font: 14px/35px Arial, sans-serif;
    border: 1px solid dimgrey;
    background: #f3f2f2;
    border-radius: 2px;
    padding: 10px;
    line-height: 10px;
    color: #d21919;
    margin: 4px;
    z-index: 2147483647;
    position: absolute;
    visibility: visible;
}

/* this *actually* is part of the Modal stuff, not the tooltip. But whatever. */
span.goodforms_invalid_pin {
    color: red;
}

.goodforms_valid_email {
    color: #177305;
    transition: visibility 0s 2s, opacity 2s linear;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}